  <div style="text-align:center">
  <h1>
    Activity Form !
  </h1> 
  </div>
  <!-- <div>
  <ul>
      <!-- <li><a [routerLink] = "['/']">Activity</a></li> -->
      <!-- <li><a [routerLink] = "['/activityOne']" >Say HEllo</a></li>
     
</ul>
  </div>
<route-outlet> </route-outlet> --> 

 <div style="padding:5px">
  <ul class="nav nav-tabs">
        <li><a routerLink ="activityOne">Say HEllo</a></li>
    </ul>
    </div>

<router-outlet> </router-outlet>


   <div>{{value}}</div>
  

 <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
	<h1><a href="http://designvkp.com/create-responsive-forms-using-html-css/" rel="dofollow" target="_blank"></a></h1> 
      <form  method="post">    
        <fieldset> 
                  <input type="text" id="name" name="user_name"  title="Activity Name" placeholder="Activity Name">
                  <input type="date" id="mail" name="date" title="Activity Date"  placeholder="Activity Date">    
                  <input type="text" id="mail" name="Venue" title="Activity Venue"  placeholder="Venue">
                  <input type="time" id="mail" name="time"  title="Activity Time" placeholder="Activity Time">
                  <input type="number" id="contactno" name="volunteerNumber" title="Volunteers required"  placeholder="Number of Volunteers required">
        </fieldset>
        <button type="submit">Submit</button>
      </form> 
         
