<!-- <h1>   Welcome to {{title}}  </h1>

<div style="padding:5px">
  <ul class="nav nav-tabs">
     <li> <a routerLink="/">Home</a> </li>
    <li> <a [routerLink]="['/members', {outlets: {aux: 'memberslist'}}]">Members</a><li> 
      
    <li> <a routerLink="activity">Activity</a> </li>
    <a [routerLink]="['/members', { outlets: {'aux':['memberslist'],'aux2': ['memberslist'] }}]">Members</a>
    <li> <a routerLink="fundraising">Fund Raising</a> </li>
     <li> <a routerLink="gallery">Gallery</a> </li> 
     <li> <a routerLink="members" >Members</a> </li> 
     <li> <a routerLink="registration">Registration</a> </li>
    <li> <a routerLink="reports">Reports</a> </li>

    </ul>
    </div>
     


<router-outlet></router-outlet> 
 -->


  <app-landing></app-landing>





<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:Left; width:90%;" > -->
  <!--<h1>
     Welcome to {{title}}! 
   
  </h1>
   <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->

  <!-- <app-reports></app-reports> -->
<!-- </div> -->
<!--<h2>Here are some links to help you start: </h2>
 <ul>
   <app-reports></app-reports> -->

<!--<h2>Here are some links to help you start: </h2>-->

<!-- <div style="text-align:center">



 <!-- <app-gallery> </app-gallery>   -->
  <!--<app-reports></app-reports>  -->
     <!--<app-members></app-members> -->
    <!-- <app-activity></app-activity> -->
    
   
     <!--<app-registration></app-registration>   -->
 <!-- <app-reports></app-reports>  -->
     <!-- <app-members></app-members>  -->
    <!-- <app-activity></app-activity> -->
      <!-- <app-gallery> </app-gallery>   
      <app-videolist> </app-videolist>
    <! <app-registration></app-registration>   -->

 